{{#if victor}}

  <div class="champions-banner">{{victor}} reigns supreme!</div>
  <form action="/restart-game" method="POST">
    <button class="restart" type="submit">
      Zounds! New Game.
    </button>
  </form>

{{else}}

  <div class="epic-lead-in">
    <div class="mugshot"></div>
    <div class="opponent-declaration">
      <div class="opener">Tic-Tac-Toetron</div>
      <div class="introducing">Your opponent: Robotron !!01!!</div>
    </div>
  </div>
  <div class="gameboard">
    {{#each boxes}}
      {{#if (or (equal this 'robotron') (equal this 'humanoid')) }}
        <div class="claimed box">{{markBox this}}</div>
      {{else}}
        {{#if ../isRobotronsMove}}
          <div class="unclickable box"></div>
        {{else}}
          <form class="box" action="/" method="POST">
            <input type="hidden" name="indexClicked" value={{@index}} >
            <button class="humanoid-move" type="submit"></button>
          </form>
        {{/if}}
      {{/if}}
    {{/each}}
  </div>

  <div class="buttons">
    {{#if isRobotronsMove}}
      <form action="/" method="POST">
        <button class="robotrons-move" type="submit">
          Do your worst, Robotron!!
        </button>
      </form>
    {{/if}}

    <form action="/restart-game" method="POST">
      <button class="restart" type="submit">
        Zounds! New Game.
      </button>
    </form>
  </div>

{{/if}}
